<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/smarthome-application"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="4"/>
    </listAttribute>
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="GRAILS_HOME" value="${grails_home_2.4}"/>
        <mapEntry key="JAVA_HOME" value="${java_home_8}"/>
    </mapAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <listAttribute key="org.eclipse.jdt.launching.CLASSPATH"/>
    <booleanAttribute key="org.eclipse.jdt.launching.DEFAULT_CLASSPATH" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.codehaus.groovy.grails.cli.support.GrailsStarter"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="&quot;run-app -Dsmarthome.cluster.serverId=localhost -Dsmarthome.datasource.password=${postgresql_password} -Dsmarthome.config.location=${smarthome_config}&quot;"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="smarthome-application"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-classpath ${grails_home_2.4}/lib/org.codehaus.groovy/groovy-all/jars/groovy-all-2.3.7.jar:${grails_home_2.4}/dist/grails-bootstrap-2.4.4.jar&#13;&#10;-server &#13;&#10;-Xmx768M &#13;&#10;-Xms64M &#13;&#10;-XX:PermSize=32m &#13;&#10;-XX:MaxPermSize=512m&#13;&#10;-Xverify:none &#13;&#10;-javaagent:${grails_home_2.4}/lib/org.springframework/springloaded/jars/springloaded-1.2.1.RELEASE.jar &#13;&#10;-Djdk.reflect.allowGetCallerClass=true&#13;&#10;-Dspringloaded=&quot;profile=grails;cacheDir=${grails_cache_dir}&quot;&#13;&#10;-Dbase.dir=&quot;.&quot;&#13;&#10;-Dgrails.home=&quot;${grails_home_2.4}&quot;&#13;&#10;-Dgroovy.starter.conf=&quot;${grails_home_2.4}/conf/groovy-starter.conf&quot;&#13;&#10;-Dgrails.version=2.4.4&#13;&#10;-Dtools.jar=&quot;${java_home_8}/lib/tools.jar&quot;&#13;&#10;-Dspringloaded.synchronize=true&#13;&#10;-Dfile.encoding=UTF-8"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:smarthome-application}"/>
</launchConfiguration>
